<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                        <img alt="image" src="<%= image_url 'M_logo.png' %>"/>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">Profile</a>
                        </li>
                        <li class="divider"></li>
                    </ul>
                </div>
                <div class="logo-element">
                    +
                </div>
            </li>
            <%= render 'layouts/main_components/main_menu'%>
        </ul>
    </div>
</nav>
