<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">MasterLiftStroy Ltd.</span>
            </li>
            <li>
          <li><%= link_to 'Log out', users_sign_out_path, method: :destroy%></li>
        </li>
    </ul>
</nav>
</div>
