<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">

        <a href="/photos" id="<%= 'admin-stuff' unless current_user.try(:id)%>">Edit Gallery</a>

        <div class="ibox-content">

          <h2>Our projects gallery</h2>

          <div class="lightBoxGallery">
            <% Photo.all.each do |photo| %>
              <a href="<%= image_path(photo.image.url) %>" title="<%= photo.title %>" data-gallery=""><%= image_tag photo.image.url(:small) %></a>
            <% end %>

            <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
            <div id="blueimp-gallery" class="blueimp-gallery">
              <div class="slides"></div>
              <h3 class="title"></h3>
              <a class="prev">‹</a>
              <a class="next">›</a>
              <a class="close">×</a>
              <a class="play-pause"></a>
              <ol class="indicator"></ol>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>
