<header>
  <div class="main-logo"></div>
  <div class="logo-with-name"></div>
  <div class="contacts">
    <div id="email"></div>
    <div id="vodafone"></div>
    <div id="life"></div>
    <div id="kyivstar"></div>
  </div>
</header>
